# Ignore Python-related files
config.py
setup.py
**/__pycache__/

# Ignore virtual environment directories
venv/

# Ignore editor/IDE configuration files
.idea/
.vscode/

.DS_Store

substacks/

chromedriver*
